.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .slider-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
  }
  
  .about-content {
    text-align: center;
    padding: 10px 20px;
  }
  
  .about-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-content button {
    font-size: 1.2em;
    background-color: rgb(239, 244, 250);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .about-content button:hover {
    color: rgb(111, 61, 38);
    background-color: rgb(225, 235, 245);
  }
  
  @media (max-width: 768px) {
    .about-content {
      padding: 0 10px;
      text-align: left;
    }
  
    .about-content h2 {
      font-size: 1.6em;
    }
  
    .about-content p {
      font-size: 1em;
    }
  
    .about-content button {
      width: 100%;
      font-size: 1em;
    }
  }
  