.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  height:100vh;
  background-color: rgb(255,255,255);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;

}

button{
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size:1.5em;
  outline: none;
  background-color: rgb(239, 244, 250);

}

button:hover{
  color: rgb(111,61,38);
}

